---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title="Francis York Morgan"
      description="Agent"
      canonical="Zach"
      extend={{ link: [], meta: [] }}
    />
  </head>
  <body>Test</body>
</html>
