---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title="Francis York Morgan"
      description="Agent"
      canonical="Zach"
      languageAlternates={[
        {
          href: "localhost:4321/languageAlternates/en",
          hrefLang: "en",
        },
        {
          href: "localhost:4321/languageAlternates/fr",
          hrefLang: "fr",
        },
      ]}
    />
  </head>
  <body>Test</body>
</html>
