---
import TestLayout from "../layouts/TestLayout.astro";
---

<TestLayout title="Page Title From Props" description="Description passed via layout props">
  <h1>Hello from page using layout!</h1>
</TestLayout>
