---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO nofollow={true} />
  </head>
  <body>Test</body>
</html>
