---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title="Francis York Morgan"
      description="Agent"
      canonical="Zach"
      openGraph={{
        basic: {
          title: "Tinker Tailor Soldier Spy",
          type: "book",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          url: "smiley",
        },
        article: { authors: [], tags: [] },
      }}
    />
  </head>
  <body>Test</body>
</html>
