---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO robotsExtras="max-snippet:-1, max-image-preview:large" />
  </head>
  <body>Test</body>
</html>
