---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      twitter={{
        card: "summary_large_image",
        site: "@astrodotbuild",
        creator: "@astrodotbuild",
        title: "Astro",
        description: "No JS. No pain.",
        image: "url",
        imageAlt: "Image description.",
      }}
    />
  </head>
  <body>Test</body>
</html>
