---
import { SEO } from "../index.js"
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <SEO 
			twitter={{
				card: "summary_large_image",
				site: "@astrodotbuild",
				creator: "@astrodotbuild"
			}}
    />
</head>
<body>
    Test
</body>
</html>