---
export interface Props {
  title?: string;
	description?: string;
	canonical?: string;
	nofollow?: boolean;
	noindex?: boolean;
}

const { title, description, canoncial } = Astro.props
---

{ title && <title>{title}</title> }

{ canoncial && (
	<link 
		rel="canonical"
		href={canonical} 
	/>
)}

{ description && (
	<meta
  	name="description"
  	content={description}
  />
)}

<meta 
	name="robots"
	contents={`
		${noindex ? 'noindex' : 'index'},${nofollow ? 'nofollow' : 'follow'}
	`}
/>
